@{
	this.Layout = "/Views/Shared/_Layout.cshtml";
	this.ViewBag.Title = "ViewList";
	this.ViewBag.css = new System.String[] { "w3" };
}			<h2>
				@ViewBag.list.name
			</h2>
			<table>
				<tr>
					<td>
						List By:
					</td>
                    <td>
                        <!--Put username here that when clicked goes to the profile page of this user-->
                        @ViewBag.list.user
                    </td>
				</tr>
			</table>
			<hr />
			<a class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" href="/api/Lists/@this.ViewBag.list.identifier">
				View List API
			</a>
			<a class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" href="/api/ListMovies/@this.ViewBag.list.identifier">
				View List Movie API
			</a>
@if (this.ViewBag.can_manage) {
			<a class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" href="/ManageList/ManageLists/@this.ViewBag.list.identifier">
				Manage List
			</a>
}			<hr />
			<div class="CurratedListsTable1">
				<table class="resultTable2 w3-col l12">
					<tr class="listMovies1">
						<td>
@foreach (Team3_Project.Databases.memdixyp_film.view_list view_list in this.ViewBag.view_list) {
								<a href="/Movie/MoviePage/@view_list.tconst" class="elements">
									<img alt="@view_list.primaryTitle (@view_list.startYear)" class="movieposter2 w3-third" src="@view_list.poster" title="@view_list.primaryTitle (@view_list.startYear)" />
								</a>
}						</td>
					</tr>
				</table>
			</div>