@{
	this.Layout = "/Views/Shared/_Layout.cshtml";
	this.ViewBag.Title = "ViewList";
	this.ViewBag.css = new System.String[] { "w3" };
}			<h2>
                @ViewBag.list.name
            </h2>
			<table>
                <!--
				<tr>
					<td>
						List Name: 
					</td>
					<td>
						@ViewBag.list.identifier
					</td>
				</tr>
                    -->
				<tr>
					<td>
						List Owner:
					</td>
					<td>
						@ViewBag.list.user
					</td>
				</tr>
				<tr>
					<td>
						Private:
					</td>
					<td>
						@ViewBag.list.hidden
					</td>
				</tr>
			</table>
            <div class="CurratedListsTable1">
                <table class="resultTable2 w3-col l12">
                    <tr class="listMovies1">
                        <td>
                            @foreach (Team3_Project.Databases.memdixyp_film.view_list view_list in this.ViewBag.view_list)
                            {
                                <a href="/Movie/MoviePage/@view_list.tconst" class="elements">
                                    <img alt="@view_list.primaryTitle (@view_list.startYear)" class="movieposter2 w3-third" src="@view_list.poster" title="@view_list.primaryTitle (@view_list.startYear)" />
                                </a>
                            }
                        </td>
                    </tr>
                </table>
            </div>