@{
    Layout = "/Views/Shared/_Layout.cshtml";
    this.ViewBag.Title = "ViewList";
    this.ViewBag.css = new System.String[] { "w3" };
}			

            <h2>
				ViewList
			</h2>
			<p>
				This is the page that would show a list selected by the user.
			</p>
			<table>
				<tr>
					<td>
						Identifier
					</td>
					<td>
						@ViewBag.list.identifier
					</td>
				</tr>
				<tr>
					<td>
						User
					</td>
					<td>
						@ViewBag.list.user
					</td>
				</tr>
				<tr>
					<td>
						Name
					</td>
					<td>
						@ViewBag.list.name
					</td>
				</tr>
				<tr>
					<td>
						Hidden
					</td>
					<td>
						@ViewBag.list.hidden
					</td>
				</tr>
			</table>
			<table>
@foreach (Team3_Project.Databases.memdixyp_film.view_list view_list in this.ViewBag.view_list) {
				<tr>
					<td>
						<a href="/Movie/MoviePage/@view_list.tconst" class="elements">
							@view_list.primaryTitle (@view_list.startYear)
						</a>
					</td>
				</tr>
}			</table>