@{
	this.Layout = "~/Views/Shared/_Layout.cshtml";
	this.ViewBag.Title = "BrowseMovies";
	this.ViewBag.css = new System.String[] { "w3" };
}			<div class="PageHeader">
				<div class="buttonNav">
					<p>Browse/Search for Movies</p>
				</div>
				<div class="buttonNav buttonNav1">
					<form action="~/Profile/Profile" method="get">
						<div class="form-row">
							<div>
								<button id="Profile" type="submit" class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large">Profile Page</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="textSearch">
				<p>Please enter the start of the movie name or the entire movie name and click search</p>

				@using (Html.BeginForm("SearchMovies", "Browse", FormMethod.Get))
				{
					<input type="text" name="title" id="title" />
					<button class="w3-btn w3-black w3-hover-green w3-round-xxlarge w3-large" type="submit">Search</button>

				}
			</div>


<div>
    <table>
        <tr>
            <p>5 Newest Action Movies</p>
        </tr>
        <tr>
            @foreach (Team3_Project.Databases.memdixyp_imdb.title_basics title_basics in this.ViewBag.action)
            {
                if (title_basics.poster == "N/A")
                {
                    title_basics.poster = "../Images/noimageavailable.png";
                }

                <a href="/Movie/MoviePage/@title_basics.tconst" class="elements">
                    @title_basics.primaryTitle (@title_basics.startYear)<img src=@title_basics.poster alt=@title_basics.primaryTitle class="movieposter w3-third" />
                </a>
            }
            </tr>
        <tr>
            <p>5 Newest Drama Movies</p>
        </tr>
        <tr>
            @foreach (Team3_Project.Databases.memdixyp_imdb.title_basics title_basics in this.ViewBag.drama)
            {
                if (title_basics.poster == "N/A")
                {
                    title_basics.poster = "../Images/noimageavailable.png";
                }

                <a href="/Movie/MoviePage/@title_basics.tconst" class="elements">
                    @title_basics.primaryTitle (@title_basics.startYear)<img src=@title_basics.poster alt=@title_basics.primaryTitle class="movieposter w3-third" />
                </a>
            }
            </tr>
        <tr>
            <p>5 Movies from a Random List</p>
        </tr>
        <tr>

        </tr>
        <tr>
            <p>5 Random Movie Lists</p>
        </tr>
        <tr>
            @foreach (Team3_Project.Databases.memdixyp_film.list list in this.ViewBag.list)
            {
                <a href="/ViewList/ViewList/@list.identifier" class="elements">
                    @list.name
                </a>
            }
            </tr>
    </table>
</div>

			<!-- This section is for the curated lists -->
<!--
			<div class="newest5">
				<div class="newest5 moviescroll">
					<p>This is a section the newest 5 Action movies</p>
					<table>
@foreach (Team3_Project.Databases.memdixyp_film.newest_movies_by_genre newest_movies_by_genre in this.ViewBag.action) {
						<tr>
							<td>
								<a href="/Movie/MoviePage/@newest_movies_by_genre.tconst" class="elements">
									@newest_movies_by_genre.primaryTitle (@newest_movies_by_genre.startYear)
								</a>
								<img alt="@newest_movies_by_genre.primaryTitle" src="@newest_movies_by_genre.poster" />
							</td>
						</tr>
}					</table>
				</div>
				<div class="newest5 moviescroll">
					<p>This is a section the newest 5 Drama movies</p>
					<table>
@foreach (Team3_Project.Databases.memdixyp_film.newest_movies_by_genre newest_movies_by_genre in this.ViewBag.drama) {
						<tr>
							<td>
								<a href="/Movie/MoviePage/@newest_movies_by_genre.tconst" class="elements">
									@newest_movies_by_genre.primaryTitle (@newest_movies_by_genre.startYear)
								</a>
								<img alt="@newest_movies_by_genre.primaryTitle" src="@newest_movies_by_genre.poster" />
							</td>
						</tr>
}					</table>
				</div>
				<div class="newest5 moviescroll">
					<p>This is a section for a random list</p>
					<table>
@foreach (Team3_Project.Databases.memdixyp_film.list list in this.ViewBag.list) {
						<tr>
							<td>
								<a href="/ViewList/ViewList/@list.identifier" class="elements">
									@list.name
								</a>
							</td>
						</tr>
}					</table>
				</div>
			</div>

    -->